<<<<<<< HEAD
:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

=======
>>>>>>> origin/desenvolvimento
body {
    background-color: rgb(111, 184, 190);
}

.container {
    display: grid;
    height: 100vh;
<<<<<<< HEAD
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.8fr 1.8fr 0.4fr;
    grid-template-areas:
        'sideBar header header header header'
        'sideBar camera camera botao botao';
    gap: 0.2rem;
=======
    grid-template-columns: 0.3fr 1.35fr 1.35fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0.2rem;
    grid-template-areas:
        'sideBar header header'
        'sideBar main main';
>>>>>>> origin/desenvolvimento
    font-family: 'Public Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: rgb(7, 6, 6);
    text-align: center;
<<<<<<< HEAD
    background-color: rgb(111, 184, 190);
}

header {
    grid-area: header;
}

header img {
    width: 400px;
    height: 180px;
    margin-right: 150px;
=======
>>>>>>> origin/desenvolvimento
}

.sideBar {
    grid-area: sideBar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideBar img {
    height: 30px;
    width: 30px;
    padding: 12px;
    margin: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.sideBar img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

<<<<<<< HEAD
#camera {
    grid-area: camera;
    border-radius: var(--main-radius);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    justify-content: flex-start;
}

#camera img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#camera p{
    color: white;
    font-weight: lighter;
    margin-left: 20px;
    font-size: 16px;
}

#botao {
    grid-area: botao;
    border-radius: var(--main-radius);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    
}

#botao button {
=======
.header {
    grid-area: header;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.header > img {
    max-width: 100%;
    object-fit: contain;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main > .camera {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.camera > img {
    max-width: 100%;
    object-fit: contain;
    border: 4px solid rgb(7, 6, 6);
    border-radius: 15px;
}

.camera > p {
    color: seashell;
    font-weight: 800;
    font-size: 16px;
}

.camera > button {
>>>>>>> origin/desenvolvimento
    font-size: 12px;
    font-weight: 800;
    color: seashell;
    background-color: rgb(252, 201, 104);
    text-align: center;
    border-radius: 15px;
    border: none;
    width: 40%;
    align-self: center;
    justify-self: center;
<<<<<<< HEAD
    margin: 10px;
    margin-left: 70px;
    padding: 20px;
=======
    margin: 5px;
    padding: 10px;
>>>>>>> origin/desenvolvimento
    transition: 0.6s;
}

button:hover {
    background-color: rgb(201, 160, 82);
}

<<<<<<< HEAD
@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.8fr 0.4fr;
        grid-template-areas:
            'header'
            'camera'
            'botao';
    }
}
=======
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'header'
            'main'
            'sideBar';
    }

    .sideBar {
        grid-area: sideBar;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        transition: all 0.5s;
        cursor: pointer;
    }

    .sideBar img:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .header {
        grid-area: header;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .header > img {
        max-width: 100%;
        object-fit: contain;
    }

    .main {
        grid-area: main;
        background-color: rgb(111, 184, 190);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
>>>>>>> origin/desenvolvimento
